---
import Footer from "../component/footer.astro";

import Header from "../component/header.astro";
import "../styles/global.css";

const pageHome = "HomePage";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageHome}</title>
  </head>
  <body>
    <Header />
    <h1>{pageHome}</h1>
    <Footer />
    <script>
      import "../script/menu.js";
    </script>
  </body>
</html>
